.link {
  padding: 16px 24px;
  background-color: var(--bg-color);
  display: flex;
  margin-bottom: 8px;
  border-radius: 10px;

  display: flex;
  align-items: center;

  & > .expandIcon {
    margin-left: auto;
  }

  & > .icon {
    margin-right: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;

    & > svg {
      stroke: var(--text-color);
    }

    & > img {
      height: 100%;
    }
  }

  &.active {
    & > .icon {
      & > svg {
        stroke: var(--accent-color);
      }
    }
    & > .expandIcon {
      color: var(--accent-color);
    }
  }

  &.small {
    padding: 8px 12px;
  }
}
