.loader {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  & > svg {
    animation: spin 0.3s linear infinite;
    fill: red;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
