.input {
    padding: 16px 24px;
    background-color: var(--bg-color);
    margin-bottom: 8px;
    border-radius: 10px;
    border: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 34px;

    &:focus {
        outline: none;
    }
}
