.card {
  background-color: var(--bg-color);
  margin-top: 10px;
  border-radius: 10px;
  padding: 4px 0;
  overflow: hidden;

  & svg.buttonIcon {
    stroke: var(--accent-color);
  }
}

.mainButtonWrapper {
  padding: 10px;
}

.showOnMap {
  padding: 19px 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--accent-color);

  & > svg {
    stroke: var(--accent-color);
    transform: rotate(270deg);
  }
}

.totalPrice {
  padding: 19px 14px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.payLink {
  padding: 0;
  margin-left: 10px;
  color: var(--accent-color);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.payWithing {
  opacity: 0.7;
  font-style: italic;
}
