.button {
  padding: 0;
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 100;

  border-radius: 50%;
  background-color: var(--accent-color);

  transition: transform 0.2s linear;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
  &:hover {
    transform: scale(1.1);
  }

  & > svg {
    width: 24px;
    height: 24px;

    stroke: white;
  }
}
