.button {
  padding: 16px 24px;
  background-color: var(--bg-color);
  display: flex;
  margin-bottom: 8px;
  border-radius: 10px;
  align-items: center;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  cursor: pointer;

  .textRight {
    font-size: 15px;
    margin-left: auto;
    color: var(--hint-color);
    flex-shrink: 0;
  }

  & > .icon {
    margin-right: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    & > svg {
      stroke: var(--text-color);
    }

    & > img {
      height: 100%;
    }
  }

  & > .content {
    flex-grow: 1;
    text-align: left;
  }

  &.small {
    padding: 12px 12px;
    margin-bottom: 0;
  }
}
