.wrapper {
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-bg-color);
  flex-direction: column;
}

.name {
  margin-top: 12px;
  font-weight: 700;
  font-size: 16px;
}

.price {
  margin-top: 18px;
  color: var(--hint-color);
}

.image {
  height: 100%;
}
