.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.addressButton {
  position: fixed;
  top: 20px;
  z-index: 1000;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  height: 67px;
  & svg {
    stroke: var(--accent-color) !important;
  }
}

.markerLabel {
  padding: 4px 6px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: -40px;
  color: var(--text-color);
}
