.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-color: var(--bg-color);
  padding-top: 12px;
  height: 100%;
}

.timeList {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 10px;
}

.timeItem {
  padding: 6px;
  font-size: 16px;
  border-radius: 6px;
  margin: 4px;
  // border: 1px solid var(--secondary-bg-color);
  border: 1px solid gray;
  flex: 1 1;
}

.placeholder {
  flex: 1 1;
}
