.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  & > div:first-child {
    padding-top: 100%;
  }

  & > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}
