.page {
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
  height: var(--height);
  width: var(--width);
}

.page-enter {
  opacity: 0;
  transform: translateY(110px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transform: translateY(-110px);
  transition: opacity 300ms, transform 300ms;
}
