:root {
  --height: var(--tg-viewport-height);
  --width: var(--tg-viewport-width);

  // --bg-color: white;
  // --secondary-bg-color: #ccc;
  --bg-color: var(--tg-theme-bg-color);
  --secondary-bg-color: var(--tg-theme-secondary-bg-color);

  --text-color: var(--tg-theme-text-color);
  --hint-color: var(--tg-theme-hint-color);
  --link-color: var(--tg-theme-link-color);
  --button-color: var(--tg-theme-button-color);
  --button-text-color: var(--tg-theme-button-text-color);
  --accent-color: #a2383c;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-bg-color);
  color: var(--tg-theme-text-color);
  overflow: hidden;
}

body,
#root {
  height: var(--height);
  width: var(--width);
}
#root {
  position: relative;
}

* {
  color: var(--tg-theme-text-color);
}

.full-height {
  height: 100%;
}

a,
button {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  background-color: none;
  border: 0;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  padding: 16px 24px;
}

.page_index {
  // background-color: #f2f1f7;
  --height: var(--tg-viewport-height);
  --width: var(--tg-viewport-width);
  overflow-y: auto;
}

.nice-dates-day {
  &.-highlight > .nice-dates-day_date {
    position: relative;
    &::after {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      background: red;
      bottom: -10px;
      left: 50%;
      border-radius: 50%;
      transform: translateX(-50%);
    }
  }
}

.nice-dates-week-header_day {
  width: 10px;
}
